/* =basic */
body, h1, h2, h3, h4, p { margin: 0; padding: 0; }
h1, h2, h3, h4, footer { font-family: 'Josefin Sans', sans-serif; }

a { color: #04c; }
a:hover { color: #6af; }

blockquote { color: #888; font-style: italic; }
blockquote p:before { content: '> '; }

pre.block {
    background: #fbfbfb;
    margin: 10px; padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* =header */
header { margin-bottom: 20px; }
header h1 { margin: 0.3em; }
header h1 a {
    display: block;
    font-size: 0;
    text-indent:200%;
    background: transparent url(../img/logo.png) no-repeat top left;
    width: 200px;
    height: 69px;
}
header h1 a:hover { opacity: 0.5; }
header p { margin-top: 1em; color: #666; font-size: 20px; }

/* =container */
.container { width: 940px; margin: 0 auto; }
p.paragraph { color: #444; font-size: 90%; line-height: 150%; }
p.back { margin-top: 2em; }


/* heading */
h2 { margin: 1em 0 0.5em 0; font-size: 200%; font-weight: bold; }
h2 span { color: #58b271; }
h2 + p { margin-left: 1.5em; }

h3 span, h4 span { font-size: 130%; }
h3 { color: #58b271; margin: 1em 0 0.5em 0; }
h3 + p { text-indent: 1em; }

h4 { color: #666; font-weight: bold; border-bottom: 1px dotted #eee; margin-top: 0.5em; }
h4 + p { text-indent: 0.5em; }

ul li { line-height: 150%; }

ul li:hover { list-style-type: circle; }
ul li ul li:hover { list-style-type: disc; }

/* page header style*/
.page-header { margin-top: 2em; border-bottom: 1px solid #eaeaea; overflow: hidden; }
.page-header h1 { font-size: 50px; font-weight: normal; float: left; }
.page-header h1 a { text-decoration: none; color: #444; }
.page-header h1 a:hover { opacity: 0.5; }
.page-header p.date { float: right; margin: 20px 10px 0 30px; font-weight: bold; letter-spacing: 1px; color: #444; }

/* code highlight */
pre.prettyprint, code.prettyprint {
    border-radius: 5px;
    border: 1px solid #fde3e3;
    background: #fff5f5;
}
pre.prettyprint { margin: 10px; padding: 10px; }
code.prettyprint { padding: 1px 2px; }

/* column style */
.column { overflow: hidden; }
.column > div { float: left; }
.column .w50per { width: 49%; }

/* =footer */
footer { margin: 20px 0 10px; text-align: right; }

