/pom.xml
*jar
/lib
/target
/classes
/native
/.lein-failures
/checkouts
/.lein-deps-sum
/blog
/test/public
/samples/*/public/201*
/samples/*/public/page[0-9]*
/samples/*/public/tag
/samples/*/public/atom.xml
/samples/*/public/index.html
/doc/public/js/hello.js
/doc/public/js/cljs
