/pom.xml
*jar
/lib
/target
/classes
/native
/.lein-failures
/checkouts
/.lein-deps-sum
/blog
/test/public
/sample/public/2011-01
/sample/public/2012-02
/sample/public/tag
/sample/public/atom.xml
/sample/public/index.html
