body, h1, h2, h3, h4, p { margin: 0; padding: 0; }
body, p { font-family: 'Josefin Sans', sans-serif; }

.container { width: 940px; margin: 0 auto; }

header { margin-bottom: 20px; }
header h1 { margin: 0.3em; }
header h1 a {
    display: block;
    font-size: 0;
    text-indent:200%;
    background: transparent url(/img/logo.png) no-repeat top left;
    width: 200px;
    height: 69px;
}
header h1 a:hover { opacity: 0.5; }
header p { margin-top: 1em; color: #666; font-size: 20px; }

blockquote { color: #888; font-style: italic; }
blockquote p:before { content: '> '; }

h2 { margin-top: 1em; }

.page-header { margin-top: 1.5em; border-bottom: 1px solid #eaeaea; overflow: hidden; }
.page-header h1 { color: #444; font-weight: normal; float: left; }
.page-header h1 span { color: #58b271; font-weight: bold; }
.page-header p { float: left; margin: 20px 0 0 30px; }

.tag ul { margin: 0; padding: 0; list-style: none; }
.tag ul li { display: inline; padding-right: 0.5em; }

pre.prettyprint {
    margin: 10px; padding: 10px;
    border-radius: 5px;
    border: 1px solid #fde3e3;
    background: #fdf3f3;
}

a { color: #04c; }
a:hover { color: #6af; }

footer { margin: 20px 0 10px; overflow: hidden; }
.right { float: right; }
