body { -webkit-font-smoothing: antialiased; }

a {
    -webkit-transition: opacity 0.3s;
    -moz-transition:    opacity 0.3s;
    -ms-transition:     opacity 0.3s;
    -o-transition:      opacity 0.3s;
    transition:         opacity 0.3s;
}

pre.block { box-shadow: 0 0 5px #ddd; }
pre.prettyprint { box-shadow: 0 0 5px #fde3e3; }
