/* =basic */
body, h1, h2, h3, h4, p { margin: 0; padding: 0; }
body, p { font-family: 'Josefin Sans', sans-serif; }

a { color: #4ea5e1; }
a:hover { opacity: 0.5; }

blockquote { color: #888; font-style: italic; }
blockquote p:before { content: '> '; }

.right { float: right; }

/* =header */
header { margin-bottom: 20px; }
header h1 { margin: 0.3em; }
header h1 a {
    display: block;
    font-size: 0;
    text-indent:200%;
    background: transparent url(../img/logo.svg) no-repeat top left;
    width: 200px;
    height: 69px;
}
header h1 a:hover { opacity: 0.5; }
header p { margin-top: 1em; color: #666; font-size: 20px; }

/* =container */
.container { width: 940px; margin: 0 auto; }

h2 { margin-top: 1em; }

/* page header style */
.page-header { margin: 1.5em 0 0.5em 0; border-bottom: 1px solid #eaeaea; overflow: hidden; }
.page-header h1 { color: #444; font-weight: normal; float: left; }
.page-header h1 span { color: #93ca76; font-weight: bold; }
.page-header p.date { float: right; margin: 20px 10px 0 30px; font-weight: bold; letter-spacing: 1px; color: #444; }

/* tag style */
.tag ul { margin: 10px 0 0 30px; padding: 0; list-style: none; float: left; }
.tag ul li { display: inline; margin-right: 10px; }
.tag ul li a {
    padding: 0.2em 0.5em;
    border: 2px solid #fef263;
    border-radius: 5px;
    color: #444;
    text-decoration: none;
}
.tag ul li a:hover { opacity: 0.5; }

/* code highlight */
pre.prettyprint {
    margin: 10px; padding: 10px;
    border-radius: 5px;
    border: 1px solid #eebbcb;
    background: #fbeff3;
}

/* dagger style */
.dagger {
    font-size: 50%;
    text-decoration: none;
    padding-left: 0.5em;
    opacity: 0;
}
h1:hover .dagger, h2:hover .dagger, h3:hover .dagger,
h4:hover .dagger, h5:hover .dagger, .dagger:hover {
    opacity: 1;
}

/* pager style */
article p.pager { text-align: center; }

/* column style */
.column { overflow: hidden; }
.column > div { float: left; }
.column .w50per { width: 49%; }

/* =footer */
footer { margin: 20px 0 10px; overflow: hidden; }



