/* =hidden */
a.github_ribbon { display: none; }

/* =header */
header h1 a {
    background: transparent url(../img/smp_logo.png) no-repeat top left;
    width: 150px;
    height: 52px;
}
header p { font-size: 15px; }

/* =container */
.container {
    margin: 0 1%;
    width: 98%;
    font-size: 90%;
}

/* tag style */
.tag ul { float-left: 10px; }
.tag ul li a { padding: 2px 5px; }

/* code highlight */
pre.prettyprint { overflow: scroll; }

